# Python
.idea/*
*.pyc
*.ini
*.log
.fuse_hidden*
venv/
!test
test*.*
testtiktok*.*
data/*
*.html
*.log.*
*.json
test
.env
.venv
sample/
.history
.vscode
update.txt
test.*
logs/
*.log